<material-dialog aria-label="Bluth's Original Frozen Banana Stand">
    <material-toolbar class="material-theme-dark material-tall" layout="vertical" layout-align="center center">
        <div class="material-toolbar-tools">
            <material-input-group class="material-input-group-theme-light-blue material-input-group-inverted">
                <label for="cpf">CPF</label>
                <material-input id="cpf" type="text" ng-model="eleitor.cpf" />
            </material-input-group>
        </div>
        <br/>
        <div>
            <material-button class="material-theme-green" data-ng-click="login()">Login</material-button>
        </div>
    </material-toolbar>
</material-dialog>
